* {
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
}

.visualizer-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-height: 100%;
}

.bars-container {
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
  width: 80%;
  height: 100%;
  margin-top: auto;
  padding: 20px 20px 0px 20px;
  border: 2px solid black;
  background-color: white;
}

.bar {
  background-color: turquoise;
  border-radius: 0.5em;
  margin: 0.15%;
}

.button-container {
  display: flex;
  justify-content: center;
  overflow-x: auto;
  margin-top: 20px;
  margin-bottom: auto;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.4em;
  border-width: 0.05em;
  padding: 0.5em;
  margin: 0 0.5em;
  font-family: monospace;
  font-size: 1em;
  background-color: #2c5364;
  color: white;
}

.button:hover {
  box-shadow: 5px 2px 2px black;
  cursor: pointer;
}

.button:focus {
  outline: none;
}

@media (min-width: 700px) {
  .app-footer {
    justify-content: center;
  }
}
