.App {
  display: flex;
  flex-direction: column;
  background-color: #0f2027;
  min-height: 100vh;
}

#site-title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  font-family: monospace;
  color: white;
}
